### Import Dependencies

In [2]:
import pandas as pd

### Read in CSV & Preview DataFrame

In [9]:
df = pd.read_csv('resources/purchase_data.csv',squeeze=True)
df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [18]:
df.shape

(780, 7)

In [20]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [21]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

#### Reduce memory usage by transforming 'Gender' to 'Category'

In [24]:
df['Gender'] = df['Gender'].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null category
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: category(1), float64(1), int64(3), object(2)
memory usage: 37.5+ KB

#### Total Number of Players  Count

In [25]:
df['SN'].nunique()

576

## Purchasing Analysis

###### Number of Unique Items

In [26]:
df['Item ID'].nunique()

183

###### Average Purchase Price

In [27]:
df['Price'].mean()

3.050987179487176

###### Total Number of Purchases

In [28]:
df['Purchase ID'].count()

780

##### Total Revenue

In [29]:
df['Price'].sum()

2379.77

## Gender Demographics

In [75]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

##### Drop Duplicates for players who may have made more than one purchase

In [61]:
drop_dup = df.drop_duplicates(subset = ['SN'])
drop_dup['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [79]:
df_male_drop = drop_dup[drop_dup['Gender'] == 'Male']

##### Percent of Male Players

In [80]:
df_male_drop['SN'].nunique() / df['SN'].nunique() * 100

84.02777777777779

##### Percent of Female Players

In [81]:
df_female_drop = drop_dup[drop_dup['Gender'] == 'Female']

In [82]:
df_female_drop['SN'].nunique() / df['SN'].nunique() * 100

14.0625

##### Percent of Non-Disclosed Players

In [83]:
df_non_drop = drop_dup[drop_dup['Gender'] == 'Other / Non-Disclosed']

In [84]:
df_non_drop['SN'].nunique() / df['SN'].nunique() * 100

1.9097222222222223

## Purchasing Analysis (by Gender)

### Females

In [93]:
df_female = df[df['Gender'] == 'Female']
df_female.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18

##### Purchase Count

In [86]:
df_female['Purchase ID'].count()

113

##### Average Purchase Price

In [87]:
df_female['Price'].mean()

3.203008849557519

##### Total Purchase ($)

In [88]:
df_female['Price'].sum()

361.94

##### Average PurchaseTotal per Person by Gender

In [90]:
df_female['Price'].sum() / df_female_drop['SN'].count()

4.468395061728395

### Males

In [92]:
df_male = df[df['Gender'] == 'Male']
df_male.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

##### Purchase Count

In [96]:
df_male['Purchase ID'].count()

652

##### Total Purchases ($)

In [97]:
df_male['Price'].sum()

1967.64

##### Average Purchase Total per Person by Gender

In [98]:
df_male['Price'].sum() / df_male_drop['SN'].count()

4.065371900826446

## Age Demographics (binning)