##### Observations from the dataset:
1. Male players make up 84% of the total player pool
2. Total revenue from item sales was $2,379
3. The most active demographic, making up 63% of the player pool, was 20-24 years of age

### Import Dependencies

In [1]:
import pandas as pd

### Read in CSV & Preview DataFrame

In [2]:
df = pd.read_csv('resources/purchase_data.csv',squeeze=True)
df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
df.shape

(780, 7)

In [4]:
df.dtypes

Purchase ID      int64
SN              object
Age              int64
Gender          object
Item ID          int64
Item Name       object
Price          float64
dtype: object

In [5]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null object
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.7+ KB

#### Reduce memory usage by transforming 'Gender' to 'Category'

In [7]:
df['Gender'] = df['Gender'].astype("category")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
Purchase ID    780 non-null int64
SN             780 non-null object
Age            780 non-null int64
Gender         780 non-null category
Item ID        780 non-null int64
Item Name      780 non-null object
Price          780 non-null float64
dtypes: category(1), float64(1), int64(3), object(2)
memory usage: 37.5+ KB

#### Total Number of Players  Count

In [8]:
num_players = df['SN'].nunique()

## Purchasing Analysis

###### Number of Unique Items

In [9]:
unique_items = df['Item ID'].nunique()

###### Average Purchase Price

In [10]:
avg_item_price = df['Price'].mean()

###### Total Number of Purchases

In [11]:
total_purchases = df['Purchase ID'].count()

##### Total Revenue

In [12]:
total_revenue = df['Price'].sum()

In [13]:
purchase_summary_table = pd.DataFrame({'Number of Unique Items': unique_items,
                                        'Total Revenue': [total_revenue],
                                        'Number of Purchases': [total_purchases],
                                        'Average Price': [avg_item_price]})
purchase_summary_table

   Number of Unique Items  Total Revenue  Number of Purchases  Average Price
0                     183        2379.77                  780       3.050987

## Gender Demographics

In [14]:
df['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

##### Drop Duplicates for players who may have made more than one purchase

In [15]:
drop_dup = df.drop_duplicates(subset = ['SN'])
drop_dup['Gender'].value_counts()

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [16]:
df_male_drop = drop_dup[drop_dup['Gender'] == 'Male']

##### Percent of Male Players

In [17]:
df_male_drop['SN'].nunique() / df['SN'].nunique() * 100

84.02777777777779

##### Percent of Female Players

In [18]:
df_female_drop = drop_dup[drop_dup['Gender'] == 'Female']

In [19]:
df_female_drop['SN'].nunique() / df['SN'].nunique() * 100

14.0625

##### Percent of Non-Disclosed Players

In [20]:
df_non_drop = drop_dup[drop_dup['Gender'] == 'Other / Non-Disclosed']

In [21]:
df_non_drop['SN'].nunique() / df['SN'].nunique() * 100

1.9097222222222223

## Purchasing Analysis (by Gender)

### Females

In [22]:
df_female = df[df['Gender'] == 'Female']
df_female.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18

##### Purchase Count / Average Purchase Price / Total Purchase / Total Average

In [23]:
female_purchase_count = df_female['Purchase ID'].count()
avg_female_purchase = df_female['Price'].mean()
female_total_purchase = df_female['Price'].sum()
total_female_average = df_female['Price'].sum() / df_female_drop['SN'].count()

### Males

In [24]:
df_male = df[df['Gender'] == 'Male']
df_male.head(3)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88

##### Purchase Count / Average Purchase Price / Total Purchase / Total Average

In [25]:
male_purchase_count = df_male['Purchase ID'].count()
avg_male_purchase = df_male['Price'].mean()
male_total_purchase = df_male['Price'].sum()
total_male_average = df_male['Price'].sum() / df_male_drop['SN'].count()

### Undisclosed

In [26]:
df_undisclosed = df[df['Gender'] == 'Other / Non-Disclosed']

In [27]:
undisclosed_purchase_count = df_undisclosed['Purchase ID'].count()
undisclosed_total_purchase = df_undisclosed['Price'].sum()
avg_undisclosed_purchase = df_undisclosed['Price'].mean()
total_undisclosed_average = df_undisclosed['Price'].sum() / df_non_drop['SN'].count()

In [28]:
gender_demographics = pd.DataFrame({'Gender': ['Male', 'Female', 'Undisclosed'],
                                   'Purchase Count': [male_purchase_count, female_purchase_count, undisclosed_purchase_count],
                                   'Avgerage Purchase  Price': [avg_male_purchase, avg_female_purchase, avg_undisclosed_purchase],
                                    'Total Purchase Value': [male_total_purchase, female_total_purchase, undisclosed_total_purchase],
                                    'Avg Total Purchase Per Person': [total_male_average, total_female_average, total_undisclosed_average]})
gender_demographics

,Gender,Purchase Count,Avgerage Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Undisclosed,15,3.346000,50.19,4.562727

## Age Demographics (binning)

###### Sort Ages to Determine Bin Sizes

In [29]:
df['Age'].sort_values(ascending = False)

761    45
728    44
248    44
674    43
557    42
341    41
477    41
23     40
667    40
156    40
1      40
480    40
220    40
516    39
517    39
648    39
195    39
252    39
745    39
747    38
660    38
22     38
182    38
695    38
217    38
270    38
768    38
563    38
31     37
208    37
       ..
155    10
411    10
32     10
424    10
54     10
38     10
679    10
546     9
672     9
732     9
575     9
692     9
486     9
686     8
187     8
339     8
272     8
311     8
767     8
37      8
81      8
78      7
481     7
610     7
27      7
658     7
515     7
446     7
778     7
33      7
Name: Age, Length: 780, dtype: int64

In [30]:
age_bins = [0, 10, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df['Age Ranges'] = pd.cut(df['Age'], age_bins, labels = group_names)

In [31]:
age_demographics_total = df['Age Ranges'].value_counts()
age_demographics_percents = age_demographics_total / num_players * 100
age_demographics = pd.DataFrame({"Total Count": age_demographics_total,
                                "Percentage of Players": age_demographics_percents})
age_demographics.sort_index()

       Total Count  Percentage of Players
<10             32               5.555556
10-14           19               3.298611
15-19          136              23.611111
20-24          365              63.368056
25-29          101              17.534722
30-34           73              12.673611
35-39           41               7.118056
40+             13               2.256944

### Purchase Analysis (Age)

In [32]:
df["Age Ranges"] = pd.cut(df["Age"], age_bins, labels=group_names)

age_purchase_total = df.groupby(['Age Ranges']).sum()['Price'].rename('Total Purchase Value')
age_average = df.groupby(['Age Ranges']).mean()['Price'].rename('Average Purchase Price')
age_counts = df.groupby(['Age Ranges']).count()['Price'].rename('Purchase Count')

age_data = pd.DataFrame({'Purchase Count': age_counts,
                        'Average Purchase Price': age_average,
                        'Total Purchase Value': age_purchase_total})
age_data

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Ranges
<10                     32                3.405000                108.96
10-14                   19                2.681579                 50.95
15-19                  136                3.035956                412.89
20-24                  365                3.052219               1114.06
25-29                  101                2.900990                293.00
30-34                   73                2.931507                214.00
35-39                   41                3.601707                147.67
40+                     13                2.941538                 38.24

### Top Spenders

In [33]:
user_total = df.groupby(['SN']).sum()['Price'].rename('Total Purchase Value')
user_average = df.groupby(['SN']).mean()['Price'].rename('Average Purchase Value')
user_count = df.groupby(['SN']).count()['Price'].rename('Purchase Count')

user_data = pd.DataFrame({'Purchase Count': user_count,
                         'Average Purchase Value': user_average,
                         'Total Purchase Value': user_total})
user_sorted = user_data.sort_values('Total Purchase Value', ascending = False)
user_sorted.head(5)

             Purchase Count  Average Purchase Value  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

### Most Popular Items

In [34]:
item_data = df.loc[:,['Item ID', 'Item Name', 'Price']]
item_purchase = item_data.groupby(['Item ID', 'Item Name']).sum()['Price'].rename('Total Purchase Value')
item_average = item_data.groupby(['Item ID', 'Item Name']).mean()['Price'].rename('Price')
item_count = item_data.groupby(['Item ID', 'Item Name']).count()['Price'].rename('Purchase Count')

item_data_df = pd.DataFrame({'Total Purchase Value': item_purchase,
                            'Item Price': item_average,
                            'Purchase Count': item_count})

item_data_sorted = item_data_df.sort_values('Purchase Count', ascending=False)

item_data_sorted.head(5)

,,Total Purchase Value,Item Price,Purchase Count
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",50.76,4.23,12
145,Fiery Glass Crusader,41.22,4.58,9
108,"Extraction, Quickblade Of Trembling Hands",31.77,3.53,9
82,Nirvana,44.10,4.90,9
19,"Pursuit, Cudgel of Necromancy",8.16,1.02,8